@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #34A0A4;
  --secondary-color: #fff;
  --tertiary-color: #F5EBE0;

  --default-font: 'Montserrat';
}

body, html, h1, a, p {
  margin: 0;
  padding: 0;
}

h1, a, p {
  font-family: var(--default-font);
}
